
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 10px;
  background-color: transparent;
  border-radius: 2%;
  text-align: center;
  padding-top: 20px;
}

body {
  margin: 0;
}

.nav {
  width: 100%;
  height: 50px;
  overflow: hidden;
  background-color:transparent;
  position: relative;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  background-color: rgb(253, 247, 247);
} 

.nav a {
  float: left;
  display: block;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.paragraph {
  align-content: center;
}

html { 
  background: url(images/city-background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

li {
  list-style: none
}

ul {
  text-align: center;
  position: relative;
  display: inline-block;
}

body {               
  font-size: 22px;
}

h1 {
  font-size: 2em;
  margin-bottom: 0px;
}

h2 {
  font-size: 1.6em;
  margin-bottom: 1px;
}

.header {
  text-align: center;
  max-width: 100%;
  width: 100%;
  background-color:transparent;
  padding: 10px;
  margin-bottom: 30px;
}

a {
  text-decoration: none
}

.column a:hover {
  background-color: #ddd;
  color: black;
}

footer {
padding-top: 250px;
font-size: 0.8em;
margin-top: 100px;
padding-left: 20px;
}

p {
  width 100%;
  padding-left: 20px;
  padding-right: 20px;
}