
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 10px;
  background-color: transparent;
  border-radius: 2%;
  text-align: center;
  padding-top: 20px;
}

}
body {
  margin: 20px;
  border: 20px solid #000;
  border-radius: 1%;
  display: table-cell;
  vertical-align: middle;
}

.nav {
  max-width: 100%;
  height: 50px;
  overflow: hidden;
  position: relative;
  border: 1px solid #000;
  background-color: rgb(253, 247, 247);
} 

.nav a {
  float: left;
  display: block;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.intro {
  text-align: center;
  max-width: 100%;
  width: 100%;
  background-color:transparent;
}

.content {
  max-width: 100%;
  align-content: center;
}
.paragraph {
  align-content: center;
}

html { 
  background: url(images/city-background.jpg) no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  display: table;
  margin: auto;
}
code {
  padding-left: 20px;
  font-size: 0.9em;
}

pre {
  padding-left: 20px;
  font-size: 0.9em;
} 

ol {
  position: relative;
  display: inline-block;
  font-size: 0.7em;
}

ul {
  text-align: center;
  position: relative;
  display: inline-block;
  list-style: none;
  padding-bottom: 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 0px;
}

h2 {
  font-size: 1.6em;
  margin-bottom: 1px;
}

h3 {
  font-size: 1.0em;
  margin-bottom: 1px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

h4 {
  font-size: 1.0em;
  margin-bottom: 1px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.header {
  text-align: center;
  max-width: 100%;
  width: 100%;
  background-color:transparent;
  padding: 10px;
  margin-bottom: 30px;
}

a {
  text-decoration: none
}

.column a:hover {
  background-color: #ddd;
  color: black;
}

footer {
padding-top: 250px;
font-size: 0.8em;
margin-top: 100px;
padding-left: 10px;
}

p {
  font-size: 0.9em;
  width 100%;
  padding-left: 20px;
  padding-right: 20px;
}

#example-images {
  text-align: center;
}

